/* .Main{
     box-sizing: border-box;
     margin : 5px;
     padding : atuo;
} */
#navbar {
     margin: 0px;
     padding: 0px;
     /* position: fixed; */
     width: 100%;
}

#navbar ul {
     width: 100%;
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     overflow: hidden;
     background-color: #2f4261;
}

#navbar li {
     float: left;
     /* margin-right:15px; */

}

#navbar li a {

     display: block;
     color: rgb(202, 229, 247);
     font-weight: bold;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;

}

#navbar li a:hover {
     background-color: #413d3d;
}

#navbar li a:active {
     background-color: #413d3d;
}

#search_bar {

     /* box-sizing : border-box; */

     padding: 10px;
     margin-left: 5%;
     margin-right: 5%;
}

#search_bar input {
     width: 90%;
     /* height : 25px; */
     font-size: medium;
     padding: 12px 20px;
     margin: 8px 0px;
     border: 1px solid #2980b9;
     box-sizing: border-box;
     /* margin-bottom : 10px; */
     display: inline-block;

}

#search_bar button {
     background-color: #2980b9;
     font-size: medium;
     font-weight: bold;
     padding: 12px 20px;
     margin: 8px 0px;
     border: 1px solid #ccc;
     box-sizing: border-box;
     /* margin-bottom : 10px; */
     display: inline-block;
}

/* .content *{
     box-sizing: border-box;
} */
               /* Head */
               .card-head h2 {
                    text-align: center;
                    font-weight: bold;
               }
               
               /* Product card Styles */
               
               /* .card-head {
                    padding-top : 40px;
               }
               .card-container {
                    display: flex;
                    padding : 50px 20px 50px 20px;
               }
               
               .card-container .card-section {
                    flex: 1;
               } */
               
               .flip-card {
                    background-color: transparent;
                    
                    perspective: 1000px;
                    min-width: 250px;
                    height: 250px;
               }
               
               .flip-card-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
               }
               
               .flip-card:hover .flip-card-inner {
                    transform: rotateY(180deg);
               }
               
               .flip-card-front,
               .flip-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
               }
               
               .flip-card-front {
                    background-color: #bbb;
                    color: black;
               }
               
               .flip-card-back {
                    background-color: #2980b9;
                    color: white;
                    transform: rotateY(180deg);
               }
               
               
               /*  responsive Cards */
               
               /* Float four columns side by side */
               .column {
                    float: left;
                    width: 25%;
                    /* padding: 10px 10px; */
                  }
                  
               /* @media screen and (min-width: 1000px)
               {
                    .column {
                         float: left;
                         width: 25%;
                         padding: 0 10px;
                       }
                       
               } */
               
               @media screen and (max-width: 1000px) and (min-width: 600px)
               {
                    .column {
                         float: left;
                         width: 50%;
                         /* padding : 0px; */
                         /* padding: 10px 10px; */
                       }
                       
               }
               
               
               
                  /* Remove extra left and right margins, due to padding */
                  .row {margin: 10px !important;}
                  
                  /* Clear floats after the columns */
                  .row:after {
                    content: "";
                    display: table;
                    clear: both;
                  }
                  
                  /* Responsive columns */
                  @media screen and (max-width: 600px) {
                    .column {
                      width: 100%;
                      display: block;
                      margin-bottom: 20px;
                    }
                  }
                  
                  /* Style the counter cards */
                  .card {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    padding: 16px;
                    text-align: center;
                    background-color: #f1f1f1;
                  }
               
               
               


.mySlides1,
.mySlides2 {
     display: none
}

img {
     vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
     max-width: 1000px;
     position: relative;
     margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
}

/* Position the "next button" to the right */
.next {
     right: 0;
     border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
     background-color: #f1f1f1;
     color: black;
}



/*     new side navigation for twitter and linkedIn */

#new-mySidenav a {
	position: fixed;
	left: -150px;
	transition: 0.3s;
	padding: 15px;
	width: 180px;
	text-align:right;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
	overflow:hidden;
	z-index:1100;
  }
  
  #new-mySidenav a:hover {
	left: 0;
  }
  
  #new-facebook {
	top: 200px;
	background-color: #2980b9;
  }
  
  #new-twitter {
	top: 320px;
	background-color: #2980b9;
  }
  
  #new-pinterest {
	top: 260px;
	background-color: #2980b9;
  }
  
  /* #new-contact {
	top: 200px;
	background-color: #555
  } */
  pre {
	border: none;
    padding: 0px !important;
    padding: 0px;
    margin: 0px !important;
    font-size: 0px;
    line-height: 0;
}